{% extends "layout/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form method="POST" action="{% url 'login-with-sms' %}">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="tel" placeholder="Phone number" class="input" name="phone_number">
                    </div>

                    <div class="form-link">
                        <a href="{% url 'login' %}" class="forgot-pass">Login with password</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Send SMS</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Don't have an account? <a href="{% url 'signup' %}" class="link signup-link">Signup</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Login with Facebook</span>
                </a>
                <a href="{% provider_login_url 'github' method='oauth2' %}" class="field github">
                    <i class='bx bxl-github github-icon'></i>
                    <span>Login with Github</span>
                </a>
                <a href="{% provider_login_url 'google' method='oauth2' %}" class="field google">
                    <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>

        </div>
    </section>
    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}