{% extends "layout/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}

{% block title %}Signup{% endblock %}
{% block content %}
    <section class="container forms">
        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form id="signupForm" method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <input type="hidden" name="is_signup" value="True">

                    <div class="field input-field">
                        <input type="tel" placeholder="Phone number" class="input" id="phone_number"
                               name="phone" required>
                    </div>
                    <div class="field input-field">
                        <input type="password" placeholder="Create password" id="password" required>
                    </div>

                    <div class=" field input-field">
                        <input type="password" placeholder="Confirm password" id="retype_password"
                               name="password" required>
                    </div>
                    <div class="field button-field">
                        <button id="submit-btn" type="submit">Signup</button>
                    </div>

                </form>
                <div id="errorMessages"></div>
                <div class="form-link">
                    <span>Already have an account? <a href="{% url 'login' %}" class="link login-link">Login</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Login with Facebook</span>
                </a>
                <a href="{% provider_login_url 'github' method='oauth2' %}" class="field github">
                    <i class='bx bxl-github github-icon'></i>
                    <span>Login with Github</span>
                </a>
                <a href="{% provider_login_url 'google' method='oauth2' %}" class="field google">
                    <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>

        </div>
    </section>
    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}