{% extends "layout/base.html" %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}

{% block title %}Signup{% endblock %}
{% block content %}
    <section class="container forms">
        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form action="/accounts/signup/" method="post">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="tel" placeholder="Phone number" class="input" name="phone">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Create password" class="password" name="password1">
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Confirm password" class="password" name="password2">
                    </div>

                    <div class="field button-field">
                        <button>Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="{% url 'login' %}" class="link login-link">Login</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="field facebook">
                    <i class='bx bxl-facebook facebook-icon'></i>
                    <span>Login with Facebook</span>
                </a>
                <a href="{% provider_login_url 'github' method='oauth2' %}" class="field github">
                    <i class='bx bxl-github github-icon'></i>
                    <span>Login with Github</span>
                </a>
                <a href="{% provider_login_url 'google' method='oauth2' %}" class="field google">
                    <img src="{% static 'images/google.png' %}" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>

        </div>
    </section>
    <!-- JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}